pipeline/Copy_files_count.json
{
	"name": "Copy_files_count",
	"properties": {
		"activities": [
			{
				"name": "Source_files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Getmetadata_source_file1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Files_count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Source_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_count",
					"value": {
						"value": "@length(activity('Source_files').output.childItems)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": []
			}
		],
		"variables": {
			"file_count": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}